.navbar {
    background: var(--secondary);
    padding: 0.5rem 0.5rem;
    display: flex;
    column-gap: 0.5rem;
}

.snippetInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.125rem;
    justify-content: center;
    flex: 1;
    overflow: hidden;
}

.snippetName {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-block: 0;
    word-break: keep-all;
    font-size: 1rem;
}

.snippetName i {
    font-size: 0.75rem;
    cursor: pointer;
    flex: none;
}

.input {
    text-align: left;
    font-weight: 600;
    border-bottom: 0.05rem solid transparent;
    transition: 0.25s border-bottom-color;
}

.snippetInfo input:focus {
    border-bottom-color: var(--primary);
}

.author {
    font-size: 0.75rem;
}



