.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.codeWindowContainer {
    display: grid;
    width: 100%;
    grid-gap: 0.5rem;
    background: #171717;
    height: 20rem;
    padding: 0.5rem;
}


@media only all and (min-width: 800px) {
    .codeWindowContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}